/* General */

body {
	background: #EEEEEE;
	font-family: 'Helvetica Neue', 'Arial';
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

nav {
	background: #FFFFFF;
	margin: 0;
	overflow: auto;
	padding: 5px 20px 0 20px;
}

a {
	color: #000000;
	text-decoration: none;
}

p, span {
	font-weight: 200;
	letter-spacing: 0.5px;
	line-height: 1.4em;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

form {
	margin: 0;
	padding: 0;
}

footer {
	margin: 30px 0 0 70px;
}

footer li {
	display: inline;
	font-size: 12px;
	padding: 3px;
}

footer li a:hover {
	text-decoration: underline;
}


/* Header */

header nav h1 {
	padding-left: 40px;
	width: 10%;
}

/* Navigation Bar */

nav h1, nav ul, nav button {
	float: left;
}

nav ul {
	margin: 30px 0 0 80px;
	width: 20%;
}

nav ul li {
	display: inline;
	padding: 0 20px 0 0;
}

nav ul li a {
	color: orange;
	padding-bottom: 2px;
}

nav ul li a:hover {
	border-bottom: 2px orange solid;
}

nav form {
	display: inline;
}

.search_bar {
	background: #EEEEEE;
	border: #CCCCCC 1px solid;
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	margin: 22px 0 0 0;
	padding: 8px;
	width: 15%;
}

.search_bar:focus {
	outline: 0;
}

#search-button {
	height: 31px;
}

.nav_button {
	float: right;
	width: 13%;
}

.nav_button button {
	text-align: right;
}	

#left {
	margin: 25px 10px 0 0;
}

#right {
	margin: 25px 0 0 0;
}

/* Top */

.top {
	padding: 40px 30px 20px 30px;
}

.profile_bg {
	position: absolute;
	width: 100%;
	z-index: -1;
}

/* Profile */

.profile {
	background: #FFFFFF;
	border-radius: 2px;
	margin: 0 0 20px 40px;
	opacity: 0.9;	
	overflow: auto;
	padding: 0 20px 20px 20px;
	width: 50%;
}

.profile .picture img {
	float: left;
	margin: 15px 30px 5px 0;
}

.profile-content {
	float: left;
	margin: 0;
}

.profile-content h3 {
	display: inline;
	margin-bottom: 30px;
}

.profile-content .top-content span {
	font-size: 14px;
	font-style: italic;
}

.top-content {
	margin: 20px 0 30px 0;
}

.city {
	float: right;
}

/* Picture */

.picture {
	float: left;
	overflow: auto;
	width: 25%;
}

.picture button {
	font-size: 14px;
	padding: 8px 20px 8px 20px;
	width: 87%;
}

/* Tags */

.tags ul{
	margin: 0 0 20px 0;
	padding: 0;
}

.tags li {
	background: #FE9E00;
	border: #B25900 1px solid;
	border-radius: 2px;
	color: #FFFFFF;
	display: inline;
	list-style: none;
	margin-right: 10px;
	padding: 8px;
}

.tags li:last-child {
	margin-right: 0px;
}

.tags li:hover {
	background-color: #E47833;
	cursor: pointer;
	transition: 0.1s ease-in-out;
}

/* Followers */

.followers {
	float: right;
	margin: 0;
}

.followers label {
	font-weight: 200;
	letter-spacing: 1px;
}

.followers a, .stats a {
	font-family: "Myriad Pro";
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -0.5px;
	padding: 5px 15px 5px 5px;
}

.followers a:last-child, .stats a:last-child {
	padding-right: 0;
}

.followers a:hover, .stats a:hover {
	color: orange;
}

.stats ul {
	margin: 0;
	width: 35%;
}

.stats ul li {
	margin-bottom: 5px;
}

.stats ul li:last-child {
	margin-bottom: 0;
}

.stats a {
	padding: 0;
}

.stats span {
	padding: 0 25px 0 0;
}

.group {
	float: right;
}

/* Status */

.status {
	background: #FFFFFF;
	border-radius: 2px;
	margin: 10px 0 0 40px;
	opacity: 0.9;
	padding: 5px 20px 20px 20px;
	width: 50%;
}

.status h3 {
	display: inline;
}

.status p {
	margin-bottom: 0;
}

.status-header {
	margin-top: 10px;
}

/* Middle */ 

.middle {
	background: #FFFFFF;
	margin: 30px 0 0 0;
	overflow: auto;
	padding: 5px 70px 30px 70px;
}

/* About */

.about {
	float: left;
	width: 55%;
}

.about ul li {
	font-weight: 200;
	letter-spacing: 0.5px;
	line-height: 1.4em;
}

/* Books Read */

.books-read {
	float: right;
	width: 35%;
}

.books-read ul {
	overflow: auto;
	margin: 0;
}

.books-read ul li {
	border: 1px #000000 solid;
	float: left;
	margin: 0 31px 20px 0;
	position: relative;
}

.books-read ul li:nth-child(5n+0) {
	margin: 0 0 20px 0;
}

.books-read li a, .to-read li a {
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

.books-read li a:hover, .to-read li a:hover {
	opacity: 1;
	transition: 0.1s ease;
}

/* Works */

.works {
	float: left;
	width: 55%;
}

.works ul li {
	float: left;
	margin: 0 0 20px 0;
}

.works ul li img {
	float: left;
	width: 7%;
}

.right_side {
	float: right;
	width: 90%;
}

.right_side h5 {
	margin: 0;
	padding: 0;
}

.right_side a {
	color: orange;
}

.right_side a:hover {
	color: #E47833;
}

/* Reading List */

.to-read {
	float: right;
	width: 35%;
}

.to-read ul {
	overflow: auto;
}

.to-read ul li{
	border: 1px #000000 solid;
	float: left;
	margin: 0 31px 20px 0;
	position: relative;
}

.to-read ul li:nth-child(5n+0) {
	margin: 0;
}

/* Misc */

.see_more {
	font-size: 14px;
	color: #BBBBBB;
	float: right;
}

.see_more:hover {
	color: #000000;
}

.see-more-bt {
	background: orange;
	border: none;
	color: white;
	font-size: 10px;
	left: 4px;
	position: absolute;
	top: 40px;
	z-index: 1;
}

.see-more-bt:hover {
	cursor: pointer;
	background: #E47833;
}

